@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

@import 'app/asciidoc';
@import 'app/config';
@import 'app/highlight.css';

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  font-family: 'Source Sans Pro', serif;
  font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: $header-fg;
}

a {
  color: $link-fg;
  text-decoration: none;

  &:hover {
    color: darken($link-fg, 15%);
    text-decoration: underline;
  }
}

code {
  &:not([data-lang]) {
    margin: 0;
    padding: 0.1em;
    background: $kbd-bg;
    color: $kbd-fg;
    font-size: 0.8em;
    word-wrap: break-word;
  }
}

p {
  margin: $para-indent 0;
  line-height: 1.5;
}

pre {
  padding: 0.25em;
  background: $kbd-bg;
  font-size: 0.9em;
  line-height: 1.4;
}

#nav {
  display: flex;
  margin-bottom: 2em;
  background-color: $nav-bg;
  color: $nav-fg;
  padding: $nav-padding;
  border-bottom: 1px solid $header-anchor-fg;

  .nav-title {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 2.0em;
    color: $header-fg;
  }

  .nav-links {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: right;

    .nav-link {
      padding: 0.5em;
    }
  }
}

#content {
  margin: 0 auto;
  padding: $content-padding;
  max-width: 1000px;
  background-color: $content-bg;
  color: $content-fg;
  border: 1px solid $header-anchor-fg;
}

.post-title {
  color: lighten($content-fg, 5%);
  font-size: 2em;
}

.post-meta {
  margin-top: 0.8em;

  .meta-time {
    display: inline-block;
    padding-right: 1em;
    border-right: 1px solid $header-anchor-fg;
  }

  .meta-tags {
    display: inline-block;

    .meta-tag {
      padding: 0.5em;

      &::before {
        content: '#';
        position: relative;
        left: 0.2em;
      }
    }
  }
}

aside {
  &.breadcrumb {
    text-align: center;
    padding-bottom: $content-padding;

    .tag-breadcrumb {
      &::before {
        content: '# ';
      }
    }
  }
}

main {
  &.post {
    h2 {
      margin-left: -$flow-indent;

      &::before {
        content: '# ';
        color: $header-anchor-fg;
      }
    }

    .post-meta {
      padding-bottom: $para-indent;
      border-bottom: 1px solid $header-anchor-fg;
    }
  }

  &.post-list {
    .post {
      &:not(:last-child) {
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        border-bottom: 1px solid $header-anchor-fg;
      }
    }

    .post-link {
      display: block;
      color: $header-fg;

      &.post-link-read-more {
        &::before {
          content: '➤ ';
        }
      }
    }

    .post-meta {
      margin-top: 0.4em;
    }

    .post-content {
      p {
        margin: ($para-indent / 2) 0;
      }
    }
  }
}
