@import '../config';

.home {
  .intro {
    padding-bottom: ($content-padding / 2);
    margin-bottom: ($content-padding / 2);
    border-bottom: 1px solid $border-fg;

    p {
      margin: 0.5em;
    }
  }
}