@import '../config';

.post-title {
  color: lighten($content-fg, 5%);
  font-size: 2em;
}

.post-meta {
  margin-top: 0.8em;

  .meta-time {
    display: inline-block;
    padding-right: 1em;
    border-right: 1px solid $border-fg;
  }

  .meta-tags {
    display: inline-block;

    .meta-tag {
      padding: 0.5em;

      &::before {
        content: '#';
        position: relative;
      }
    }
  }
}

.post-content {
  h2 {
    margin-left: -$flow-indent;

    &::before {
      content: '# ';
      color: $border-fg;
    }
  }

  .sect1 {
    &:last-child {
      .sectionbody {
        .paragraph {
          &:last-child {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
