@import '../config';

.posts {
  .post {
    &:not(:last-child) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid $header-anchor-fg;
    }
  }

  .post-link {
    display: block;

    &.post-link-read-more {
      text-align: right;

      &::after {
        content: '➤ ';
      }
    }
  }
}
