@charset "UTF-8";

.contact {
  h3 {
    margin-bottom: 0;
    font-size: 1.25em;

    & + ul {
      margin-top: 0.15em;
    }
  }

  .subsection {
    &:not(:last-child) {
      margin-bottom: 1.2em;
    }
  }
}

.col-graph {
  @media print, (min-width: 992px) {
    margin-left: -150px;
    width: ($body-width + 2 * 150px);
    text-align: center;
  }

  .cg-expander {
    margin-bottom: 2em;

    &:checked {
      ~ .cg-body .cg-code {
        &[data-state="collapsed"] {
          display: none;
        }

        &[data-state="expanded"] {
          display: block;
        }
      }
    }
  }

  .cg-expander-label {
    position: relative;
    top: -2px;
    user-select: none;
  }

  .cg-body {
    display: flex;
    flex-direction: column;

    @media print, (min-width: 992px) {
      flex-direction: row;
      justify-content: center;
      gap: 1em;
      text-align: left;
    }

    .cg-code {
      margin-bottom: $para-indent;

      &[data-state="expanded"] {
        display: none;
      }

      .listing {
        margin: 0;
      }
    }
  }

  .cg-graph {
    margin-top: 0;
  }
}

.posts .post,
.talks .talk {
  padding: 0.75em 1em;
  background: rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}

.post-meta,
.talk-meta {
  color: $body-fg-secondary;
  margin-top: 0.3em;

  a {
    color: $body-fg-secondary;
    border-bottom: 1px solid rgba($link-underline, 0.5);

    &:hover {
      color: $body-fg-natural;
    }
  }
}

.post-meta-time,
.talk-meta-time {
  display: inline-block;
  margin-top: 0.25em;
  margin-right: 0.5em;
  padding-right: 0.7em;
  border-right: 1px solid $body-fg-secondary;

  @media print, (min-width: 992px) {
    margin-top: 0;
  }
}

.post-meta-tags,
.talk-meta-tags,
.talk-meta-resources {
  @media print, (min-width: 992px) {
    display: inline-block;
  }
}

.post-meta-tag,
.talk-meta-tag {
  position: relative;
  top: -1px;
  white-space: nowrap;

  &:not(:last-child) {
    margin-right: 0.4em;
  }
}

.talks {
  .talk {
    position: relative;

    &::before {
      content: "🎥";
      position: absolute;
      top: -0.5em;
      left: -0.5em;
      font-size: 1.5em;
      transform: rotate(-45deg);
    }
  }
}
