{{ define "title" }}
    {{ if .Data.Singular }}
        ~/{{ .Data.Plural }}/{{ .Data.Term }}
    {{ else }}
        ~/posts
    {{ end }}
    | {{ .Site.Title }}
{{ end }}

{{ define "body" }}
    {{ if .Data.Singular }}
        <aside>
            ~/{{ .Data.Plural }}/{{ .Data.Term }}
        </aside>
    {{ end }}

    <main id="posts">
        {{ range .Pages }}
            <article class="post">
                <h2 class="post-title">
                    <a href="{{ .Permalink | relURL }}" class="post-link">
                        {{ .Title }}
                    </a>
                </h2>

                <div class="post-meta">
                    <time class="meta-time">
                        {{ .Date.Format $.Site.Params.dateFormat }}
                    </time>
                </div>

                <div class="post-summary">
                    {{ .Summary }}
                </div>
            </article>
        {{ end }}
    </main>
{{ end }}
