$body-bg: #f0f0f0;

$nav-bg: #ffffff;
$nav-fg: #080808;
$nav-padding: 1.2em;

$content-bg: #ffffff;
$content-fg: #080808;
$content-padding: 2.5em;

$header-fg: lighten($content-fg, 20%);

$header-anchor-fg: #e0e0e0; // @todo rename

$kbd-bg: #f5f2f0;
$kbd-fg: #d7661c;

$link-fg: #0000ff;

$flow-indent: 1em;
$para-indent: 1.5em;
