aside {
  font-size: 1.5em;
  margin-bottom: 1em;
}

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  color: $body-fg;
  font-family: $body-font, serif;
  font-weight: 400;
  font-size: 18px;
}

footer {
  @extend hr;
  margin-top: 1.5em;
  padding-top: 1.5em;
  text-align: right;

  @media only screen and (min-width: 992px) {
    text-align: center;
  }
}

nav {
  display: flex;
  margin-bottom: 1.5em;

  @media only screen and (min-width: 992px) {
    margin-bottom: 2em;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    text-align: center;

    &:not(:last-child) {
      &::after {
        content: '.';
        position: relative;
        top: -0.25em;
      }
    }
  }

  a {
    display: inline-block;
    min-width: 40px;
    padding: 0.5em 1em;
    margin: 0 0.1em;

    @media only screen and (min-width: 992px) {
      width: 80px;
      margin: 0 0.2em;
    }
  }
}

.post-meta {
  color: $body-fg-secondary;
  padding-bottom: 1em;

  .meta-time {
    display: inline-block;
    margin-top: 0.25em;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }

  .meta-tags {
    @media only screen and (min-width: 992px) {
      display: inline-block;
      padding-left: 0.7em;
      margin-left: 0.5em;
      border-left: 1px solid $body-fg-secondary;
    }

    .meta-tag {
      white-space: nowrap;
      border: none;
      color: $body-fg-secondary;

      &:not(:last-child) {
        margin-right: 0.4em;
      }

      &:hover {
        color: $body-fg-natural;
      }

      &::before {
        content: '#';
        position: relative;
        top: 1px;
      }
    }
  }
}

.posts {
  .post {
    &:not(:last-child) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
    }
  }
}

#container {
  margin: 0 auto;
  padding: 0.5em;

  @media only screen and (min-width: 992px) {
    padding: 1em;
    max-width: $body-width;
  }
}

main#home {
  .home-section {
    &:not(:last-child) {
      border-bottom: 2px dotted $hr-fg;
    }

    ul {
      margin-top: 0.5em;
    }
  }
}

main#post {
  .post-meta {
    margin-top: 0.2em;
    border-bottom: 2px dotted $hr-fg;
  }

  .post-series, .post-translations {
    border-bottom: 2px dotted $hr-fg;
    padding: 1.2em;

    p {
      margin: 0;
      padding: 0;
    }

    ol, ul {
      margin-top: 0.5em;
      margin-bottom: 0;
      padding-inline-start: 0;
    }

    li {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      // Required for the li's dot to be visible
      list-style-position: inside;

      // Required for the .a's border to be visible
      padding-bottom: 2px;
    }
  }
}

main#posts {
  .post {
    margin-bottom: 1.5em;

    &:not(:last-child) {
      padding-bottom: 1.5em;
      border-bottom: 2px dotted $hr-fg;
    }
  }

  .post-meta {
    margin-top: 0.2em;
  }

  .post-summary {
    .paragraph {
      br {
        display: block;
        margin: 0.3em 0;
      }

      p {
        margin: 0.3em 0;
        line-height: 1.2;
      }

      &:first-child {
        p {
          margin-top: 0;
        }
      }

      &:last-child {
        p {
          margin-bottom: 0;
        }
      }
    }
  }
}

main#tags {
  .tags {
    margin-top: 0;
  }
}
