body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  color: $body-fg;
  font-family: $body-font, serif;
  font-weight: 400;
  font-size: 19px;
}

footer {
  border-top: 1px solid $border-fg;
  margin-top: 1.5em;
  padding-top: 1.5em;

  @media only screen and (min-width: 992px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  img {
    height: 26px;
    padding-right: 1px;
    vertical-align: middle;

    // To prevent link's hover from bleeding into the icon
    background-color: $body-bg;
  }

  .footer-item {
    opacity: 0.65;
    text-align: right;
    padding: 0.65em 0;

    @media only screen and (min-width: 992px) {
      text-align: center;
      padding: 0;

      &:first-child {
        text-align: left;
      }

      &:last-child {
        text-align: right;
      }
    }

    &:hover {
      opacity: 1.0;
    }
  }
}

#breadcrumb {
  margin-bottom: 3rem;
  font-size: 2em;
  text-align: center;
}

#container {
  margin: 0 auto;
  padding: 0.5em;

  @media only screen and (min-width: 992px) {
    padding: 1em;
    max-width: $body-width;
  }
}

#home {
  text-align: center;

  p {
    margin: 0.8em 0;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

#home-translations {
  border-top: 1px solid $border-fg;
  margin-top: 1.5em;
  padding-top: 1.5em;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }
}

.post-content {
  text-align: justify;

  h2 {
    @media only screen and (min-width: 992px) {
      margin-left: -1em;
    }

    &::before {
      content: '# ';
    }
  }

  .sect1 {
    &:last-child {
      .sectionbody {
        .paragraph {
          &:last-child {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.post-header {
  text-align: center;
  margin-bottom: 1.5em;

  @media only screen and (min-width: 992px) {
    margin: 0 0 2em -100px;
    width: ($body-width + 2 * 100px);
  }

  .post-title {
    text-align: center;
  }
}

.post-meta {
  margin-top: 0.5em;
  opacity: 0.4;

  &:hover {
    opacity: 1.0;
  }

  .meta-tags {
    .meta-tag {
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 0.4em;
      }

      &::before {
        content: '#';
        position: relative;
        left: 1px;
      }
    }

    @media only screen and (min-width: 992px) {
      display: inline-block;
      padding-right: 0.7em;
      margin-right: 0.5em;
      border-right: 1px solid #ffffff;
    }
  }

  .meta-time {
    display: inline-block;
    margin-top: 0.25em;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.post-series, .post-translations {
  border-top: 1px solid $border-fg;
  border-bottom: 1px solid $border-fg;
  padding: 1.2em;

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-inline-start: 0;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Required for the li's dot to be visible
    list-style-position: inside;

    // Required for the .a's border to be visible
    padding-bottom: 2px;
  }
}

.posts {
  .post {
    &:not(:last-child) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid $border-fg;
    }

    .toc {
      display: none;
    }
  }
}

.tags {
  text-align: center;

  .tag-title {
    display: inline-block;
    margin-bottom: 0.25em;

    &:before {
      content: '#';
    }
  }
}

.top-nav {
  margin-bottom: 1.5em;
  font-size: 1em;

  a {
    color: $body-fg;
  }

  .nav-links {
    display: flex;
  }

  .nav-link {
    flex-grow: 1;
    padding: 0.5em 1em;
    margin: 0 0.2em;
    text-align: center;
  }

  .nav-link-secondary {
    display: none;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 2em;

    .nav-link-secondary {
      display: block;
    }
  }
}
