@import '../../config';

.admonitionblock {
  margin: $para-indent 0;
  padding: 0 ($para-indent / 2);

  &.note {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  .icon {
    display: none;
  }

  .content {
    p {
      margin: ($para-indent / 2) 0;
    }
  }
}

@media only screen and (min-width: 992px) {
  .admonitionblock {
    padding: 0;

    .icon {
      display: block;
      padding: 1em;
      opacity: 0.5;
    }
  }
}
