@import '../../config';

.row {
  display: flex;

  > .content {
    display: flex;
  }
}

.col {
  flex: 50%;

  &.center-v {
    display: flex;
    align-items: center;
  }

  &.center-h {
    display: flex;
    justify-content: center;
  }
}
