@import '../../config';

.quoteblock {
  border-left: 3px solid $border-fg;
  font-style: italic;
  line-height: 1.8em;
  margin: #{$para-indent} -$flow-indent;
  padding: $flow-indent;

  blockquote {
    margin: 0;
    padding: 0;
  }

  .attribution {
    color: lighten($content-fg, 50%);
  }
}
