.tags {
  margin-top: 0;

  .tag {
    margin: 0.15em 0 0.15em;
    padding: 0.2em 0 0.2em;

    @media only screen and (min-width: 992px) {
      margin: 0.2em 0 0.2em;
      padding: 0;
    }

    .counter {
      color: $body-fg-secondary;
    }
  }
}
