@import 'style-config';

.post {
  .col {
    flex: 50%;

    &.center-v {
      display: flex;
      align-items: center;
    }

    &.center-h {
      display: flex;
      justify-content: center;
    }
  }

  .quoteblock {
    border-left: 3px solid $header-anchor-fg;
    font-style: italic;
    line-height: 1.8em;
    margin: #{$para-indent} -$flow-indent;
    padding: $flow-indent;

    blockquote {
      margin: 0;
      padding: 0;
    }

    .attribution {
      color: lighten($content-fg, 50%);
    }
  }

  .openblock {
    &.row {
      > .content {
        display: flex;
      }
    }
  }

  .sect1 {
    margin-top: $para-indent;
  }
}