{{ $style := resources.Get "style.scss" | toCSS | fingerprint }}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}" media="all">
    <title>{{ block "title" . }}{{ end }}</title>
</head>
<body>
    <div id="container">
        {{ partial "navigation.html" . }}
        {{ block "body" . }}{{ end }}
    </div>
</body>
</html>
