{{ define "title" }}
    {{ if .Data.Singular }}
        ~/{{ .Data.Plural }}/{{ .Data.Term }}
    {{ else }}
        ~/posts
    {{ end }}
    | {{ .Site.Title }}
{{ end }}

{{ define "body" }}
    {{ if .Data.Singular }}
        <aside id="breadcrumb">
            ~/{{ .Data.Plural }}/{{ .Data.Term }}
        </aside>
    {{ end }}

    <main class="posts">
        {{ range .Pages }}
            <article class="post">
                <h2 class="post-title">
                    <a href="{{ .Permalink | relURL }}" class="post-link">
                        {{ .Title }}
                    </a>
                </h2>

                <div class="post-meta">
                    {{ if .Params.tags }}
                        <div class="meta-tags">
                            {{ range .Params.tags }}
                                <a class="meta-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                                    {{ . }}
                                </a>
                            {{ end }}
                        </div>
                    {{ end }}

                    <time class="meta-time">
                        {{ .Date.Format $.Site.Params.dateFormat }}
                    </time>
                </div>
            </article>
        {{ end }}
    </main>
{{ end }}
