{{ define "title" }}
    {{ .Title }}
{{ end }}

{{ define "body" }}
    <main class="post">
        <div class="post-header">
            <h1 class="post-title">
                {{ .Title }}
            </h1>

            <div class="post-meta">
                {{ if .Params.tags }}
                    <div class="meta-tags">
                        {{ range .Params.tags }}
                            <a class="meta-tag" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">
                                {{ . }}
                            </a>
                        {{ end }}
                    </div>
                {{ end }}

                <time class="meta-time">
                    {{ .Date.Format $.Site.Params.dateFormat }}
                </time>
            </div>
        </div>

        {{ if .IsTranslated }}
            <div class="post-translations">
                <p>
                    {{ i18n "post.translations.header" }}
                </p>

                <ul>
                    {{ range .Translations }}
                        <li>
                            <a href="{{ .Permalink }}">
                                {{ i18n (printf "language.%s.flag" .Lang) }} {{ .Lang }}: {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        {{ if .Params.series }}
            <div class="post-series">
                {{ $series := index .Site.Taxonomies.series .Params.series }}

                <p>
                    {{ i18n "post.series.header" }}
                </p>

                <ul>
                    {{ range $series.Pages.Reverse }}
                        <li>
                            <a href="{{ .Permalink }}">
                                {{ .Title }}
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
        {{ end }}

        <div class="post-content">
            {{ .Content | replaceRE "<h2 id=\"(.*)\">\n?(.*)\n?</h2>" `<h2 id="${1}"><a href="#${1}">${2}</a></h2>` | safeHTML }}
        </div>
    </main>
{{ end }}
