@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import 'style/vendor';

$body-bg: darken(#2f3144, 5%);
$body-fg: #f8f8f8;
$body-width: 750px;
$flow-indent: 1em;
$kbd-bg: lighten($body-bg, 20%);
$kbd-fg: #ffffff;
$para-indent: 1.5em;

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  color: $body-fg;
  font-family: 'Source Sans Pro', serif;
  font-weight: 400;
  font-size: 19px;
}

a {
  color: $body-fg;
  text-decoration: none;
  border-bottom: 2px solid lighten($body-bg, 40%);

  &:active {
    color: $body-fg;
  }

  &:hover {
    border-bottom-color: $body-fg;
  }
}

code {
  &:not([data-lang]) {
    margin: 0;
    padding: 0.1em;
    background: $kbd-bg;
    color: $kbd-fg;
    font-size: 0.8em;
    word-wrap: break-word;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  line-height: 1.4;
  text-align: left;
  color: #ffffff;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.35em;
}

kbd {
  margin: 0;
  padding: 0.1em;
  background: $kbd-bg;
  color: $kbd-fg;
  font-size: 0.8em;
  white-space: nowrap;
}

p {
  margin: $para-indent 0;
  line-height: 1.4;
}

pre {
  padding: 0.75em;
  background: $kbd-bg;
  font-size: 0.8em;
  line-height: 1.4;
  
  @media only screen and (min-width: 992px) { 
    font-size: 0.9em;
  }
  
  &.highlight {
    background: darken($kbd-bg, 25%);
    overflow: auto;
  }
}

strong {
  font-weight: 900;
}

#breadcrumb {
  margin-bottom: 3rem;
  font-size: 2em;
  text-align: center;
}

#container {
  margin: 0 auto;
  padding: 0.5em;

  @media only screen and (min-width: 992px) {
    padding: 1em;
    max-width: $body-width;
  }
}

#home {
  text-align: center;

  p {
    margin: 0.8em 0;
    padding: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

#home-translations {
  border-top: 1px solid lighten(#000000, 60%);
  margin-top: 1.5em;
  padding-top: 1.5em;

  ul {
    margin: 0;
    padding: 0;
  }
  
  li {
    list-style-type: none;
    padding-bottom: 0.5em;
  }
}

#home-commit {
  border-top: 1px solid lighten(#000000, 60%);
  margin-top: 1.5em;
  padding-top: 1.5em;

  a {
    opacity: 0.5;
  }
}

.admonitionblock {
  margin: $para-indent 0;
  padding: 0 ($para-indent / 2);
  border-radius: 10px;

  &.note {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
  }

  a {
    color: #000000;
    border-bottom-color: lighten(#000000, 60%);

    &:hover {
      border-bottom-color: #000000;
    }
  }

  .icon {
    display: none;
  }

  .content {
    p {
      margin: ($para-indent / 2) 0;
    }
  }
}

.col-graph {
  .cg-expander {
    margin-bottom: 2em;

    &:checked {
      ~ .cg-body .cg-code {
        &[data-state = "collapsed"] {
          display: none;
        }

        &[data-state = "expanded"] {
          display: block;
        }
      }
    }
  }

  .cg-expander-label {
    position: relative;
    top: -2px;
    user-select: none;
  }

  .cg-body {
    display: flex;
    flex-direction: column;

    .cg-code {
      margin-bottom: $para-indent;

      &[data-state = "expanded"] {
        display: none;
      }

      pre {
        margin: 0;
      }
    }

    .cg-graph {
      .content {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  @media only screen and (min-width: 992px) {
    margin-left: -150px;
    width: ($body-width + 2 * 150px);
    text-align: center;

    .cg-body {
      flex-direction: row;
      justify-content: center;
      gap: 1em;
      text-align: left;
    }
  }
}

.col {
  flex: 50%;

  &.center-v {
    display: flex;
    align-items: center;
  }

  &.center-h {
    display: flex;
    justify-content: center;
  }
}

.imageblock {
  &.drawing {
    text-align: center !important;

    img {
      max-width: 90%;

      @media only screen and (min-width: 992px) {
        max-width: 70%;
      }
    }
  }

  .title {
    color: rgba($body-fg, 0.5);
    font-style: italic;
  }
}

.meme-container {
  text-align: center;
  margin: $para-indent 0;
}

.post-content {
  text-align: justify;

  h2 {
    @media only screen and (min-width: 992px) {
      margin-left: -$flow-indent;
    }

    &::before {
      content: '# ';
    }
  }

  .sect1 {
    &:last-child {
      .sectionbody {
        .paragraph {
          &:last-child {
            p {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.post-header {
  text-align: center;
  margin-bottom: 1.5em;

  @media only screen and (min-width: 992px) {
    margin: 0 0 2em -100px;
    width: ($body-width + 2 * 100px);
  }

  .post-title {
    text-align: center;
  }
}

.post-meta {
  margin-top: 0.5em;
  opacity: 0.4;

  &:hover {
    opacity: 1.0;
  }

  .meta-tags {
    .meta-tag {
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 0.4em;
      }

      &::before {
        content: '#';
        position: relative;
        left: 1px;
      }
    }

    @media only screen and (min-width: 992px) {
      display: inline-block;
      padding-right: 0.7em;
      margin-right: 0.5em;
      border-right: 1px solid #ffffff;
    }
  }

  .meta-time {
    display: inline-block;
    margin-top: 0.25em;

    @media only screen and (min-width: 992px) {
      margin-top: 0;
    }
  }
}

.post-translations {
  border-top: 1px solid lighten(#000000, 60%);
  border-bottom: 1px solid lighten(#000000, 60%);
  padding: 1.2em;

  p {
    margin: 0;
    padding: 0;
  }

  ul {
    margin-top: 0.5em;
    margin-bottom: 0;
    padding-inline-start: 0;
  }

  li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    // Required for the li's dot to be visible
    list-style-position: inside;

    // Required for the .a's border to be visible
    padding-bottom: 2px;
  }
}

.posts {
  .post {
    &:not(:last-child) {
      margin-bottom: 1.5em;
      padding-bottom: 1.5em;
      border-bottom: 1px solid lighten(#000000, 60%);
    }

    .toc {
      display: none;
    }
  }
}

.row {
  display: flex;

  > .content {
    display: flex;
  }
}

.sect1 {
  margin-top: $para-indent;
}

.tags {
  text-align: center;

  .tag-title {
    display: inline-block;
    margin-bottom: 0.25em;

    &:before {
      content: '#';
    }
  }
}

.text-center {
  text-align: center;
}

.toc {
  margin-top: $para-indent;

  .title {
    @extend h2;
    font-size: 1.5em;
  }
}

.imageblock {
  .title {
    // To avoid justification artifacts on smaller screens
    text-align: left;
  }
}

.olist, .ulist {
  p {
    margin: 0.5em auto;
    line-height: 1.2;
  }
}

.top-nav {
  margin-bottom: 1.5em;
  font-size: 1em;

  a {
    color: $body-fg;
  }

  .nav-links {
    display: flex;
  }

  .nav-link {
    flex-grow: 1;
    padding: 0.5em 1em;
    margin: 0 0.2em;
    text-align: center;
  }

  .nav-link-secondary {
    display: none;
  }

  @media only screen and (min-width: 992px) {
    margin-bottom: 2em;

    .nav-link-secondary {
      display: block;
    }
  }
}
