$body-bg: darken(#2f3144, 5%);
$body-fg: #f8f8f8;
$body-font: 'Source Sans Pro';
$body-width: 750px;
$code-font: 'Fira Mono';
$header-font: 'Open Sans';
$kbd-bg: lighten($body-bg, 20%);
$kbd-fg: #ffffff;
$code-bg: darken($kbd-bg, 25%);
$para-indent: 1.5em;
$border-fg: #050505;
$border-radius: 10px;

@import 'style/vendor';
@import 'style/layout';
@import 'style/formatting';
