<nav class="top-nav">
    <div class="nav-links">
        {{- $currentPage := . -}}

        {{ range .Site.Menus.main -}}
            <a class="nav-link" href="{{ .URL | absLangURL }}">
                {{ .Name }}
            </a>
        {{- end }}

        <a class="nav-link nav-link-secondary" href="https://github.com/Patryk27">
            GitHub
        </a>

        <a class="nav-link nav-link-secondary" href="https://keybase.io/patryk27">
            Keybase
        </a>
     </div>
</nav>
