<nav class="top-nav">
    <div class="nav-links">
        <a class="nav-link" href="/">
            ~/
        </a>

        <a class="nav-link" href="/posts">
            ~/posts
        </a>

        <a class="nav-link" href="/tags">
            ~/tags
        </a>

        <a class="nav-link" href="/talks">
            ~/talks
        </a>

        <a class="nav-link nav-link-secondary" href="https://github.com/Patryk27">
            GitHub
        </a>

        <a class="nav-link nav-link-secondary" href="https://keybase.io/patryk27">
            Keybase
        </a>
     </div>
</nav>
