section {
  h3 {
    margin-bottom: 0;
    font-size: 1.25em;

    & + ul {
      margin-top: 0.1em;
    }
  }

  &.posts-and-talks {
    h3 {
      margin-bottom: 1em;
    }

    li {
      &:not(:first-child) {
        margin-top: 0;
      }

      &:not(:last-child) {
        margin-bottom: 1.25em;
        padding-bottom: 1.25em;
        border-bottom: 2px dotted $hr-fg;
      }
    }

    .post-title, .talk-title {
      font-size: 1.25em;
    }

    .post-summary, .talk-summary {
      p {
        margin: 0.7em 0;
        line-height: 1.2;

        br {
          display: block;
          margin: 0.3em 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
