.posts {
  .post {
    margin-bottom: 1.5em;

    .post-summary {
      p {
        margin: 0.8em 0;
        line-height: 1.2;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
