{{ define "main" }}
    {{- if and (eq .Kind "taxonomy") (eq .Data.Singular "tag") }}
        <aside class="breadcrumb">
            <h1 class="tag-breadcrumb">
                {{ .Data.Term }}
            </h1>
        </aside>
    {{- end }}

    <main class="post-list">
        {{- range .Pages }}
            <article class="post">
                <h2 class="post-title">
                    <a href="{{ .Permalink | relURL }}" class="post-link">
                        {{ .Title }}
                    </a>
                </h2>

                <div class="post-meta">
                    <time class="meta-time">
                        {{ .Date.Format $.Site.Params.dateFormat }}
                    </time>

                    {{- if .Params.tags }}
                        {{- range .Params.tags }}
                            <div class="meta-tags">
                                <a class="meta-tag" href="/tags/{{ . | urlize }}">
                                    {{ . }}
                                </a>
                            </div>
                        {{- end }}
                    {{- end }}
                </div>

                <div class="post-content">
                    {{ .Summary }}
                </div>

                <a class="post-link post-link-read-more" href="{{ .Permalink | relURL }}">
                    Read More
                </a>
            </article>
        {{- end }}
    </main>
{{ end }}
