<ul class="posts">
    {{ range ( where .Site.RegularPages "Type" "posts" | first 3 ) }}
        <li class="post">
            <h4 class="post-title">
                <a href="{{ .Permalink | relURL }}" class="post-link">
                    {{ .Title }}
                </a>
            </h2>

            <div class="post-meta">
                <time class="meta-time">
                    {{ .Date.Format $.Site.Params.dateFormat }}
                </time>
            </div>

            <div class="post-summary">
                {{ .Summary }}
            </div>
        </li>
    {{ end }}
</ul>
